<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Control Panel</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/homePage.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/ovfgusdx2prqe46v2kmzumih2aonskgx98650zxosrm8zwm8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

  </head>
  <body>
    <div class="container">
        <div class="row pt-1 pb-1">
          <div class="col-md-1"></div>  
          <div class="col-md-10 col-12">

            <!-- X [ul list with with some buttons] list of blogs -->
            <!-- X [button] list of users -->
            <!-- [form] contact setting -->
            <!-- [button] contact messages -->
            <!-- [form] home page settings -->
            <div class="accordion accordion-flush" id="accordionFlushItems">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <h3>Blog</h3>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushItems">
                    <div class="accordion-body">
                        <a class="btn btn-outline-success mb-2" href="/admin/create-modify-blog/new">New</a>
                        <ol class="list-group list-group-numbered">
                            <!-- <li class="list-group-item"></li> -->
                            <li class="list-group-item">Blog 1 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="1">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/1">Modify</a></li>
                            <li class="list-group-item">Blog 2 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="2">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/2">Modify</a></li>
                            <li class="list-group-item">Blog 3 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="3">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/3">Modify</a></li>
                            <li class="list-group-item">Blog 4 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="4">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/4">Modify</a></li>
                            <li class="list-group-item">Blog 5 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="5">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/5">Modify</a></li>
                            <li class="list-group-item">Blog 6 title<button class="blog-delete-btn btn btn-outline-danger float-end" data="6">Delete</button><a class="float-end btn btn-link" href="/admin/create-modify-blog/6">Modify</a></li>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      <h3>User</h3>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushItems">
                    <div class="accordion-body">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">User 1<button class="user-delete-btn btn btn-outline-danger float-end" data="1">Delete</button></li>
                            <li class="list-group-item">User 2<button class="user-delete-btn btn btn-outline-danger float-end" data="2">Delete</button></li>
                            <li class="list-group-item">User 3<button class="user-delete-btn btn btn-outline-danger float-end" data="3">Delete</button></li>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      <h3>Contact</h3>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushItems">
                    <div class="accordion-body">
                        <ol class="list-group">
                          <ol class="list-group">
                            {{range .contact}}
                            <li class="list-group-item">
                                <p><strong>Email:</strong> {{.Email}}</p>
                                <p><strong>Subject:</strong> {{.Subject}}</p>
                                <p><strong>Message:</strong> {{.Message}}</p>
                                <p><strong>Time:</strong> {{.CreatedAt}}</p>
                                <button class="contact-delete-btn btn btn-outline-danger float-end" data="{{.ID}}">Delete</button>
                            </li>
                            {{end}}
                        </ol>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      <h3>Home</h3>
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushItems">
                    <div class="accordion-body">
                        <form id="home-form">
                          <label for="home-name" class="form-label">Full Name:</label>
                          <input value="{{.home.Name}}" minlength="4" maxlength="99" type="text" name="name" id="home-name" class="form-control text-light">
                          <label for="home-slogan" class="form-label">Slogan:</label>
                          <textarea minlength="11" maxlength="254" rows="2" name="slogan" style="resize: none;" id="home-slogan" class="form-control text-light">{{.home.Slogan}}</textarea>
                          <label for="home-short-intro" class="form-label">Short Intro:</label>
                          <textarea minlength="11" maxlength="254" rows="2" name="short_intro" style="resize: none;" id="home-short-intro" class="form-control text-light">{{.home.ShortIntro}}</textarea>
                          <label for="home-github-url" class="form-label">Github URL:</label>
                          <input value="{{.home.GithubUrl}}" minlength="1" type="text" name="github_url" id="home-github-url" class="form-control text-light">
                          <button type="submit" class="btn btn-primary mt-2">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <h3>About Me</h3>
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushItems">
                      <div class="accordion-body">
                        <form id="about-me-form">
                          <textarea type="text" name="content" id="about-me-content" class="form-control text-light">{{.aboutMeContent}}</textarea>
                          <button type="submit" id="about-me-submit" class="btn btn-primary mt-2">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
          </div>  
          <div class="col-md-1"></div>  
        </div>
    </div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sidebars.js"></script>
  <div id="notification" class="alert alert-info"></div>
  <script>
    let blogDeleteButtons = document.querySelectorAll('.blog-delete-btn');
    function ToggleNotification(message){
      var notification = document.getElementById('notification');
        notification.textContent =  message;
        notification.style.display = 'block';
          setTimeout(function() {
          notification.style.display = 'none';
        }, 5000);
    }
    blogDeleteButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            event.preventDefault();

            let dataValue = button.getAttribute('data');

            let requestBody = {
                "data": dataValue,
                "csrf_token": "test"
            };

            fetch('/admin/delete-blog', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(data => {
                if (data && data.message !== undefined) {
                ToggleNotification(data.message);
            } else {
                // Handle success, such as redirecting to another page
            }
            }).catch(e => {
                console.log('There was an error with the request.', e);
            });
        });
    });

    let userDeleteButtons = document.querySelectorAll('.user-delete-btn');

    userDeleteButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            event.preventDefault();

            let dataValue = button.getAttribute('data');

            let requestBody = {
                "data": dataValue,
                "csrf_token": "test"
            };

            fetch('/admin/delete-user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(data => {
                if (data && data.message !== undefined) {
                ToggleNotification(data.message);
            } else {
                // Handle success, such as redirecting to another page
            }
            }).catch(e => {
                console.log('There was an error with the request.', e);
            });
        });
    });


    let contactDeleteButtons = document.querySelectorAll('.contact-delete-btn');

    contactDeleteButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            event.preventDefault();

            let dataValue = button.getAttribute('data');

            let requestBody = {
                "data": dataValue,
                "csrf_token": "test"
            };

            fetch('/admin/delete-contact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(data => {
                if (data && data.message !== undefined) {
                ToggleNotification(data.message);
            } else {
                // Handle success, such as redirecting to another page
            }
            }).catch(e => {
                console.log('There was an error with the request.', e);
            });
        });
    });

    document.getElementById('about-me-form').addEventListener('submit', function(e) {
    e.preventDefault(); 

    var content = tinymce.get('about-me-content').getContent();
    var data = { content: content };
    console.log("about me content: " + data.content);

    fetch('/admin/modify-about-me', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
          if (data && data.message !== undefined) {
              ToggleNotification(data.message);
          } else {
              // Handle the case where there is no message in the response
          }
      })
      .catch((error) => {
          console.error('Error:', error);
      });
    });


    document.getElementById('home-form').addEventListener('submit', function(e) {
    e.preventDefault();

    var formData = {
        name: document.getElementById('home-name').value,
        slogan: document.getElementById('home-slogan').value,
        short_intro: document.getElementById('home-short-intro').value,
        github_url: document.getElementById('home-github-url').value
    };

    // Send the JSON object to the server using fetch
    fetch('/admin/modify-home', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
    })
    .then(data => {
      if (data && data.message !== undefined) {
              ToggleNotification(data.message);
          } else {
              // Handle the case where there is no message in the response
          }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
  });


  tinymce.init({
      selector: '#about-me-content'
  });
  </script>
  </body>
</html>
