<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/homePage.css" rel="stylesheet">
  </head>
  <body>

<div class="container">
  <nav class="navbar navbar-expand-md border border-secondary navbar-dark bg-dark d-lg-none" aria-label="second navbar">
    <div class="container-fluid">
      <a class="navbar-brand link-dark" href="#">
        <div class="d-flex align-items-center form-check form-switch justify-content-center">
          <input class="form-check-input nightModeButton" type="checkbox" role="switch" id="nightMode">
          <label class="form-check-label text-dark" for="nightMode" style="font-size: 15px;">Night Mode</label>
      </div>
      </a>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#secondNavbar" aria-controls="secondNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="secondNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 no-wrap">
          <li class="nav-item">
            <a class="nav-link link-dark rounded" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark rounded" href="/about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark rounded" href="/blog">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark rounded" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-dark active rounded" href="#" data-bs-toggle="dropdown" aria-expanded="false">Admin Area</a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="/user/sign-in">Sign in</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item rounded" href="/user/sign-up">Sign up</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user/sign-out">Exit</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control form-control-day border-secondary" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
<main class="d-flex flex-nowrap row">
  <div style="border-right: 1px solid;" class="side-nav bg-light d-flex flex-column flex-shrink-0 p-3 bg-light col col-xl-2 col-lg-3 border-secondary d-none d-lg-flex">
    <span class="mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <div class="d-flex align-items-center form-check form-switch justify-content-center">
        <input class="form-check-input nightModeButton" type="checkbox" role="switch" id="nightMode">
        <label class="form-check-label text-dark" for="nightMode">Night Mode</label>
    </div>
    </span>
    <hr class="text-dark">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item"><a href="/" class="nav-link link-dark">Home</a></li>
      <li><a href="/about-me" class="nav-link link-dark">About Me</a></li>
      <li><a href="/blog" class="nav-link link-dark">Blogs</a></li>
      <li><a href="/contact" class="nav-link link-dark">Contact</a></li>
      <li>
        <form class="d-flex mt-2 mb-2" role="search">
            <input class="form-control form-control-day me-2 bg-light border-secondary text-dark" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <hr class="text-dark">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle active rounded p-2" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Admin Area</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-light text-small shadow ">
        <li><a class="dropdown-item" href="/user/sign-in">Sign in</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item rounded" href="/user/sign-up">Sign up</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/user/sign-out">Exit</a></li>
      </ul>
    </div>
  </div>
  <div class="b-content-divider b-content-divider-day b-content-vr col">
        <div class="container h-100">
            <div class="row h-100 align-hv-center">
                <div class="main-form text-start">
                    <div class="card-header text-center border-bottom border-3 border-light">
                        <h1>Sign In</h1>
                    </div>
                    <div class="card-body">
                        <form id="signin-form" action="/sign-in" method="post">
                            <div class="form-group mt-2">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control form-control-day bg-light border-secondary text-dark" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control form-control-day bg-light border-secondary text-dark" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="mt-2">  
                              <button type="submit" class="btn btn-dark float-start">Sign in</button>
                              <button type="button" class="btn btn-dark float-end">Sign in with Github</button>
                            </div>
                        </form>
                    </div>

                </div>
               
            </div>
        </div>
  </div>
</main>
</div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sidebars.js"></script>
  <div id="notification" class="alert alert-danger"></div>
  <script>

    // Form submission logic
    document.getElementById('signin-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        };
        fetch('/user/sign-in', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
          if (response.redirected) {
              window.location.href = response.url; // Redirect to the new URL
          } else {
              return response.json();
          }
        })
        .then(data => {
            if (data && data.message !== undefined) {
                var notification = document.getElementById('notification');
                notification.textContent = data.message;
                notification.style.display = 'block';
                setTimeout(function() {
                    notification.style.display = 'none';
                }, 5000);
            } else {
                // Handle success, such as redirecting to another page
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
 
  </body>
</html>
