<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="static/css/960_12.col.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/text.css">
    <script src="static/htmx.js"></script>
    <script>
        function checkPassword() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmpassword').value;
            var passwordStrength = document.getElementById('passwordStrength');
            var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");
            var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

            if(password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            } else if(strongRegex.test(password)) {
                passwordStrength.innerHTML = 'Password strength: Strong';
            } else if(mediumRegex.test(password)) {
                passwordStrength.innerHTML = 'Password strength: OK';
            } else {
                passwordStrength.innerHTML = 'Password strength: Weak';
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <form action="/sign-up" method="post" onsubmit="return checkPassword()">
        <label for="fullname">Full Name:</label><br>
        <input type="text" id="fullname" name="fullname"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirmpassword">Confirm Password:</label><br>
        <input type="password" id="confirmpassword" name="confirmpassword"><br>
        <input type="submit" value="Sign Up">
    </form>
    <p id="passwordStrength"></p>
</body>
</html>
